<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
		<!-- 配置hibernate信息 -->
		<!-- 底层语句输出 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 底层格式化 -->
		<property name="hibernate.format_sql">true</property>
		<!-- hibernate帮助创建表需要配置 update如果有表更新，如果没有，创建-->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 配置数据库方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <mapping resource = "com/cauchy/entity/hbm.xml"/> -->
		<mapping resource = "com/cauchy/entity/hbm_linkman.xml"/>
		<mapping resource = "com/cauchy/entity/hbm_custom.xml"/> 
		<mapping resource = "com/cauchy/manytomanyentity/User.hbm.xml"/>
		<mapping resource = "com/cauchy/manytomanyentity/Role.hbm.xml"/>
	</session-factory>
</hibernate-configuration>